
{deps_dir, "lib"}.
{deps, [
    {rabbit, ".*"},
    {rabbit_common, ".*"},
    {amqp_client, ".*"},
    {systest, "1",
    {git, "git@github.com:nebularis/systest.git"}}
]}.

{plugin_dir, "build/plugins"}.
{plugins, [test_profile_plugin]}.

%% NB: The -spec passed by ct_extra_params can be overwritten by the 
%% content of the RABBITMQ_TEST_PROFILE or USER environment variables.
%% It's also worth considering that this ct 'specification' is run through
%% rebar's template engine to hook up scratch directories for common test
%% that we don't know about prior to runtime.... so....
%%
%% This path [below] is the *source* test specfication!
{ct_extra_params, "-spec profiles/default.spec"}.

{ct_use_short_names, true}.
