.sw?
.*.sw?
*.beam
/.erlang.mk/
/cover/
/deps/
/doc/
/ebin/
/logs/
/plugins/

/rabbitmq_test.d

# Generated certificates.
/certs/client/
/certs/server/
/certs/testca/

# Downloaded sources.
/qpid_testsuite/
