{clustering_management, [
    {cluster, [{localhost, [rabbit, hare, bunny]}]},
    {rabbit, [
        {flags, [
            {start, [
                {environment, "RABBITMQ_MNESIA_DIR",
                    "{{ scratch_dir }}/rabbitmq-rabbit-mnesia"},
                {environment, "RABBITMQ_PID_FILE",
                    "{{ scratch_dir }}/rabbitmq-rabbit-mnesia.pid"},
                {environment, "RABBITMQ_NODE_PORT", "5672"}
            ]}
        ]}
    ]},
    {hare, [
        {flags, [
            {start, [
                {environment, "RABBITMQ_MNESIA_DIR",
                    "{{ scratch_dir }}/rabbitmq-hare-mnesia"},
                {environment, "RABBITMQ_PID_FILE",
                    "{{ scratch_dir }}/rabbitmq-hare-mnesia.pid"},
                {environment, "RABBITMQ_NODE_PORT", "5673"}
            ]}
        ]}
    ]},
    {bunny, [
        {flags, [
            {start, [
                {environment, "RABBITMQ_MNESIA_DIR",
                    "{{ scratch_dir }}/rabbitmq-bunny-mnesia"},
                {environment, "RABBITMQ_PID_FILE",
                    "{{ scratch_dir }}/rabbitmq-bunny-mnesia.pid"},
                {environment, "RABBITMQ_NODE_PORT", "5674"}
            ]}
        ]}
    ]}
]}.
