{clustering_management_cluster, [
    {cluster, [{localhost, [rabbit, hare, bunny]}]},
    {nodes, [
        {rabbit, [rabbit_node]},
        {hare, [rabbit_node]},
        {bunny, [rabbit_node]}
    ]},
    {user_data, [
        {rabbit, [{amqp_port, 5672}]},
        {hare, [{amqp_port, 5673}]},
        {bunny, [{amqp_port, 5674}]}
    ]}
]}.

{clustering_management_SUITE, [{all, clustering_management_cluster}]}.
