
{starting_rabbit_nodes, [
    {cluster, [{localhost, [rabbit, hare]}]},
    {nodes, [
        {rabbit, [rabbit_node]},
        {hare,   [rabbit_node]}
    ]},
    {user_data, [
        {rabbit, [{amqp_port, 5672}]},
        {hare,   [{amqp_port, 5673}]}
    ]}
]}.

{starting_connected_nodes, [
    {cluster, [{localhost, [rabbit, hare]}]},
    {nodes, [
        {rabbit, [rabbit_node, connected_node]},
        {hare,   [rabbit_node, connected_node]}
    ]},
    {user_data, [
        {rabbit, [{amqp_port, 5672}]},
        {hare,   [{amqp_port, 5673}]}
    ]}
]}.

%% TODO: all the 3 node tests can share this configuration,
%% by declaring it as {shared, [{SUITE_NAME, [FunctionName]}].

{simple_cluster, [
    {cluster, [{localhost, [rabbit, hare, bunny]}]},
    {nodes, [
        {rabbit, [rabbit_node, connected_node]},
        {hare,   [rabbit_node, connected_node]},
        {bunny,  [rabbit_node, connected_node]}
    ]},
    {user_data, [
        {rabbit, [{amqp_port, 5672}]},
        {hare,   [{amqp_port, 5673}]},
        {bunny,  [{amqp_port, 5674}]}
    ]}
]}.
