
{connected_cluster, [
    {cluster, [{localhost, [rabbit, hare]}]},
    %% TODO: seriously - make this generic (as in L13)
    {rabbit, [
        {flags, [
            {start, [
                {environment, "RABBITMQ_MNESIA_DIR",
                    "{{ scratch_dir }}/rabbitmq-rabbit-mnesia"},
                {environment, "RABBITMQ_PID_FILE", 
                    "{{ scratch_dir }}/rabbitmq-rabbit-mnesia.pid"},
                {environment, "RABBITMQ_NODE_PORT", "5672"}
                %% {environment, "RABBITMQ_NODE_PORT", "${user.amqp_port}"}
            ]}
        ]},
        {extra, [
            {local, rabbit_ha_test_utils, amqp_open, []}
        ]}
    ]},
    {hare, [
        {flags, [
            {start, [
                {environment, "RABBITMQ_MNESIA_DIR",
                    "{{ scratch_dir }}/rabbitmq-hare-mnesia"},
                {environment, "RABBITMQ_PID_FILE", 
                    "{{ scratch_dir }}/rabbitmq-hare-mnesia.pid"},
                {environment, "RABBITMQ_NODE_PORT", "5673"}
            ]}
        ]},
        {extra, [
            {local, rabbit_ha_test_utils, amqp_open, []}
        ]}
    ]}
]}.

