
{rabbit_node, [
    {startup, [
        {handler, systest_cli},
        {link_to_parent, true},
        {detached, false},
        {rpc_enabled, {true, {init, stop, []}}}
    ]},
    {flags, [
        {start, [
            {program, "%{RABBITMQ_BROKER_DIR}/scripts/rabbitmq-server"},
            {environment, [
                {"RABBITMQ_LOG_BASE", "${ct.priv_dir}"},
                {"RABBITMQ_PLUGINS_EXPAND_DIR",
                    "${ct.priv_dir}/rabbitmq-plugins-scratch"},
                {"RABBITMQ_NODE_IP_ADDRESS", "0.0.0.0"},
                {"RABBITMQ_ALLOW_INPUT", "1"},
                {"RABBITMQ_NODENAME", "${node.name}"},
                {"RABBITMQ_MNESIA_DIR",
                        "${ct.priv_dir}/rabbitmq-${node.name}-mnesia"},
                {"RABBITMQ_PID_FILE",
                        "${ct.priv_dir}/rabbitmq-${node.name}-mnesia.pid"},
                {"RABBITMQ_NODE_PORT", "${node.user.amqp_port}"}
            ]}
        ]}
        %,
        %{stop,  [{program, "{{ base_dir }}/resources/test/stop"}, {node, id}]}
    ]},
    {on_start, [
        {local, rabbit_ha_test_utils, wait, []}
    ]}
]}.

{connected_node, [
    {on_start, [
        {local, rabbit_ha_test_utils, amqp_open, []}
    ]},
    {on_stop, [
        {local, rabbit_ha_test_utils, amqp_close, []}
    ]}
]}.
