
{global_node_config, [
    {startup, [
        {handler, systest_cli},
        {link_to_parent, true},
        {detached, false},
        {rpc_enabled, {true, {init, stop, []}}}
    ]},
    {flags, [
        {start, [{program, "{{ rabbitmq_broker_dir }}/scripts/rabbitmq-server"},
                 {environment, "RABBITMQ_LOG_BASE", "{{ scratch_dir }}"},
                 {environment, "RABBITMQ_PLUGINS_EXPAND_DIR",
                        "{{ scratch_dir }}/rabbitmq-plugins-scratch"},
                 {environment, "RABBITMQ_NODE_IP_ADDRESS", "0.0.0.0"},
                 {environment, "RABBITMQ_ALLOW_INPUT", "1"},
                 {environment, "RABBITMQ_NODENAME", {node, name}}]}
        %,
        %{stop,  [{program, "{{ base_dir }}/resources/test/stop"}, {node, id}]}
    ]},
    {extra, [
        {local, rabbit_ha_test_utils, wait, []}
    ]}
]}.
