
{starting_rabbit_nodes, [
    {cluster, [{localhost, [rabbit, hare]}]},
    {nodes, [
        {rabbit, [rabbit_node]},
        {hare,   [rabbit_node]}
    ]},
    {user_data, [
        {rabbit, [{amqp_port, 5672}]},
        {hare,   [{amqp_port, 5673}]}
    ]}
]}.

{starting_connected_nodes, [
    {cluster, [{localhost, [rabbit, hare]}]},
    {nodes, [
        {rabbit, [rabbit_node, connected_node]},
        {hare,   [rabbit_node, connected_node]}
    ]},
    {user_data, [
        {rabbit, [{amqp_port, 5672}]},
        {hare,   [{amqp_port, 5673}]}
    ]}
]}.

{send_and_consumer_around_cluster, [
    {cluster, [{localhost, [a, b, c]}]},
    {nodes, [
        {a, [rabbit_node, connected_node]},
        {b, [rabbit_node, connected_node]},
        {c, [rabbit_node, connected_node]}
    ]},
    {user_data, [
        {a, [{amqp_port, 5672}]},
        {b, [{amqp_port, 5673}]},
        {c, [{amqp_port, 5674}]}
    ]}
]}.

