
{starting_rabbit_nodes, [
    {cluster, [{localhost, [rabbit, hare]}]},
    {nodes, [
        {rabbit, [rabbit_node]},
        {hare,   [rabbit_node]}
    ]},
    {user_data, [
        {rabbit, [{amqp_port, 5672}]},
        {hare,   [{amqp_port, 5673}]}
    ]}
]}.

{starting_connected_nodes, [
    {cluster, [{localhost, [rabbit, hare]}]},
    {nodes, [
        {rabbit, [rabbit_node, connected_node]},
        {hare,   [rabbit_node, connected_node]}
    ]},
    {user_data, [
        {rabbit, [{amqp_port, 5672}]},
        {hare,   [{amqp_port, 5673}]}
    ]}
]}.

%% TODO: all the 3 node tests can share this configuration,
%% by declaring it as {shared, [{SUITE_NAME, [FunctionName]}].

{send_and_consumer_around_cluster, [
    {cluster, [{localhost, [a, b, c]}]},
    {nodes, [
        {a, [rabbit_node, connected_node]},
        {b, [rabbit_node, connected_node]},
        {c, [rabbit_node, connected_node]}
    ]},
    {user_data, [
        {a, [{amqp_port, 5672}]},
        {b, [{amqp_port, 5673}]},
        {c, [{amqp_port, 5674}]}
    ]}
]}.

{killing_multiple_intermediate_nodes, [
    {cluster, [{localhost, [n1, n2, n3, n4, n5, n6]}]},
    {nodes, [
        {n1, [rabbit_node, connected_node]},
        {n2, [rabbit_node, connected_node]},
        {n3, [rabbit_node, connected_node]},
        {n4, [rabbit_node, connected_node]},
        {n5, [rabbit_node, connected_node]},
        {n6, [rabbit_node, connected_node]}
    ]},
    {user_data, [
        {n1, [{amqp_port, 5672}]},
        {n2, [{amqp_port, 5673}]},
        {n3, [{amqp_port, 5674}]},
        {n4, [{amqp_port, 5675}]},
        {n5, [{amqp_port, 5676}]},
        {n6, [{amqp_port, 5677}]}
    ]}
]}.

