
{starting_rabbit_nodes, [
    {cluster, [{localhost, [rabbit, hare]}]},
    {rabbit, [
        {flags, [
            {start, [
                {environment, "RABBITMQ_MNESIA_DIR",
                    "{{ tmpdir }}/rabbitmq-rabbit-mnesia"},
                {environment, "RABBITMQ_NODE_PORT", "5672"}
            ]}
        ]}
    ]},
    {hare, [
        {flags, [
            {start, [
                {environment, "RABBITMQ_MNESIA_DIR",
                    "{{ tmpdir }}/rabbitmq-hare-mnesia"},
                {environment, "RABBITMQ_NODE_PORT", "5673"}
            ]}
        ]}
    ]}
]}.
